/*----------------------------------------------------------------------------
    Reset
----------------------------------------------------------------------------*/
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/*------------------------------------------------------------------------------
   Base
------------------------------------------------------------------------------*/

/* ===== Numéro 1 ===== */
body {
    
    font: 400 1.125rem 160% 'PT Sans', sans-serif;
    
}


/*------------------------------------------------------------------------------
   Mise en page
------------------------------------------------------------------------------*/

/* ===== Numéro 2 ===== */
.wrapper {
    max-width: 1100px;
    margin: 0 auto 0 auto;
}


/*------------------------------------------------------------------------------
   Modules
------------------------------------------------------------------------------*/

/* ===== Numéro 3a ===== */
header .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

/* ===== Numéro 3b ===== */
.logo {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font: 700 2.5rem "Nunito", sans-serif;
    font-optical-sizing: auto;
    text-decoration: none;
    color: rgba(68, 68, 68, 1);
}

/* ===== Numéro 3c ===== */

.menu ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    gap: 30px;
}


/* ===== Numéro 3d ===== */

.menu a {
    color:rgba(0, 0, 0, 1);
    font: 700 0.875rem 'PT Sans', sans-serif;
    padding: 5px 10px 5px 10px;
    /* ===== Ne peuvent être raccourcies ===== */
    text-transform: uppercase;
    text-decoration: none;
}


/* ===== Numéro 3e ===== */

.menu a:hover {
    border: 2px solid rgba(0, 0, 0, 1);
}


/* ===== Numéro 3f ===== */
/*
header {
    padding-top: 20px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 20px;
}
*/

/* ===== Numéro 4a ===== */
/*
.hero {
    background-image: url('../images/hero.jpg');
    background-position: center right;
    background-repeat: no-repeat;
}
*/

/* ===== Numéro 4b ===== */
.hero .wrapper {

}

/* ===== Numéro 4c ===== */
.hero .contenu {

}

/* ===== Numéro 4d ===== */
/*
.hero h1 {
    font-weight: 100;
    font-size: 100px;
    line-height: 100%;

    font-family: Nunito, sans-serif;
    margin-top: 0;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    color: #F2545B;
}
*/

/* ===== Numéro 5a ===== */
/*
.athletes h2 {
    font-family: Nunito, sans-serif;
    font-weight: bold;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: 0;
    margin-right: 0;
}
*/

/* ===== Numéro 5b ===== */
/*
.athletes p {
    margin-right: 0;
    margin-bottom: 50px;
    margin-top: 0;
    margin-left: 0;
}
*/

/* ===== Numéro 5c ===== */
/*
.athletes {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
}
*/


/* ===== Numéro 5d ===== */
.athletes-photos {

}

/* ===== Numéro 5e ===== */
.athletes-photos img {

}

/* ===== Numéro 5f ===== */
.athlete1 {

}


/* ===== Numéro 6a ===== */
footer {

}

footer .wrapper {

}

/* ===== Numéro 6b ===== */
/*
.menu-social {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;

    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
}
*/


/* ===== Numéro 6c ===== */

footer .wrapper .menu-social a {

}

/* ===== Numéro 6d ===== */
/*
.menu-social a:hover {
    background: gray;
}
*/